# Core
Django>=4.2.0
python-dotenv>=1.0.0

# Authentication
django-allauth>=0.54.0

# Forms
django-crispy-forms>=2.0
crispy-bootstrap5>=0.7

# Image Processing
Pillow>=10.0.0

# Rich Text Editors
django-markdownx>=4.0.0
django-tinymce>=3.6.1

# Development
django-debug-toolbar>=4.2.0
